@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.nav-bar {
    position: fixed;
    /* top: 0;
    left: 0; */
    text-align: right;
    width: 100vw;
    background-image: linear-gradient(to right, rgb(18, 18, 18), rgb(0, 0, 0));
    color: white;
    padding-top: .5rem;
    padding-right: 2.2rem;
    padding-bottom: .4rem;
    z-index: 1;
}

.nav-links {
    font-family: 'Montserrat', sans-serif;
    font-size: .7rem;
    list-style: none;
    padding: 1rem 1rem 1rem .75rem;
    margin-right: .5rem;
}   
.nav-links-last {
    font-family: 'Montserrat', sans-serif;
    font-size: .7em;
    list-style: none;
    padding: 1rem 1rem 1rem 1rem;
    margin-right: 1rem;
}   

.nav-bar > .active {
    font-family: 'Montserrat', sans-serif;
    color: rgb(219, 84, 31);
    border-bottom: 2px solid white;    
}

.nav_logo {
    width: 7rem;
    float: left;
    padding-left: 1.2rem;
}

@media screen and (max-width: 800px) {
    .nav-bar {
        position: fixed;
    }
    .nav-links, .nav-links-last {
        display: none;
    }

    
}