@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:ital,wght@1,900&display=swap');

.branding_section {    
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    min-height: 100vh;
    min-width: 100vw;
}
.branding_section_background {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;  
}
.branding_content_container {
    margin: 0 auto;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    width: 80vw;
    background-color: rgba(0,0,0,.7);
    padding: 3em;
}
.branding_headline {
    font-family: 'Playfair Display', serif;
    font-size: 6em;
    color: rgb(255,255,255);
    letter-spacing: .25rem;
    line-height: 1em;
    margin: .25em 0;
    text-shadow: rgba(0,0,0,1) .04em .04em;
    text-align: center;
}
.branding_headline_2 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    color: rgb(255,255,255);
    letter-spacing: .25rem;
    line-height: 1em;
    margin: .15em 0;
    text-shadow: rgba(0,0,0,1) .04em .04em;
    text-align: center;
}
.branding_copy {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    letter-spacing: .05em;
    color: rgb(255,255,255);
    /* letter-spacing: .08rem; */
    line-height: 1.3em;
    margin: 1.5em 0 0;
    text-shadow: rgba(0,0,0,1) .05em .05em;
    max-width: 16em;
    text-align: center;
}
.branding_button {
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    font-weight: 800;
    /* background-color: rgb(76, 210, 219); */
    background-image: linear-gradient(#13c1df, #0f3381);
    border-radius: 1em;
    border: 1px rgb(0,0,0) solid;
    color: rgb(255,255,255);
    transition: all 0.3s;
    margin: 1.75em 0;
    line-height: 3;
    text-decoration: none;
    text-align: center;
    width: 14em;
    
}
.branding_button:hover {
    background:rgb(255,255,255);
    color: rgb(0,0,0); 
    cursor: pointer;
}
.branding_logo {
    width: 40rem;
}