@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Playfair+Display:wght@700;900&display=swap');

.hire_section {    
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    min-height: 100vh;
    min-width: 100vw;
}
.hire_section_background {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;  
}
.hire_content_container {
    margin: 0 auto;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    width: 60vw;
    background-color: rgba(0,0,0,.4);
    padding: 3em;
}
.hire_headline {
    font-family: 'Playfair Display', serif;
    font-size: 6em;
    font-weight: 900;
    color: rgb(255,255,255);
    letter-spacing: .25rem;
    line-height: 1em;
    margin: .25em 0;
    text-shadow: rgba(0,0,0,1) .04em .04em;
    text-align: center;
}
.hire_headline_2 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    font-weight: 700;
    font-style: italic;
    color: rgb(255,255,255);
    letter-spacing: .25rem;
    line-height: 1em;
    margin: .15em 0;
    text-shadow: rgba(0,0,0,1) .04em .04em;
    text-align: center;
}
.hire_copy {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    letter-spacing: .05em;
    color: rgb(255,255,255);
    /* letter-spacing: .08rem; */
    line-height: 1.2em;
    margin: .5em 0 0;
    text-shadow: rgba(0,0,0,1) .05em .05em;
    max-width: 19em;
    text-align: center;
}
.hire_button {
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    font-weight: 800;
    /* background-color: rgb(76, 210, 219); */
    background-image: linear-gradient(#13c1df, #0f3381);
    border-radius: 1em;
    border: 1px rgb(0,0,0) solid;
    color: rgb(255,255,255);
    transition: all 0.3s;
    margin: 1.75em 0;
    line-height: 3;
    text-decoration: none;
    text-align: center;
    width: 14em;
    
}
.hire_button:hover {
    background:rgb(255,255,255);
    color: rgb(0,0,0); 
    cursor: pointer;
}
.hire_logo {
    width: 20rem;
}
#bold_this {
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    font-weight: 900;
}



/* ------------------------MEDIA QUERIES--------------------------*/

/*--------------SMALL TABLET-------------*/
@media screen and (max-width: 991.5px) and (min-width: 768px){    
    .hire_section_background {
        background-attachment: scroll;  
    }
    .hire_content_container {
        min-width: 100vw;
        min-height: 100vh;
        background-color: rgba(0,0,0,.6);
        padding: 0 0;
    }
    .hire_headline {
        font-size: 4em;
        line-height: 1em;        
    }
    .hire_headline_2 {  
        font-size: 1.5em;   
        letter-spacing: .17rem;
        line-height: 1em;
        margin: .15em 0;
    }
    .hire_copy {       
        font-size: 1.2em;
        letter-spacing: .05em;  
        line-height: 1.4em;
        margin: 1rem 0 0;      
        max-width: 20rem;
    }
    .hire_logo {
        width: 12rem;
    }

}

/* -------------------- LARGE PHONE------------- */
@media screen and (max-width: 767.5px) and (min-width: 480px){
    .hire_section_background {
        background-attachment: scroll;  
    }
    .hire_content_container {
        min-width: 100vw;
        min-height: 100vh;
        background-color: rgba(0,0,0,.6);
        padding: 0 0;
    }
    .hire_headline {
        font-size: 2.2em;
        line-height: 1em;        
    }
    .hire_headline_2 {  
        font-size: 1.1em;   
        letter-spacing: .17rem;
        line-height: 1em;
        margin: .15em 0;
    }
    .hire_copy {       
        font-size: 1em;
        letter-spacing: .05em;  
        line-height: 1.2em;
        margin: 1rem 0 0;      
        max-width: 14rem;
    }
    .hire_logo {
        width: 12rem;
    }

}
   

/* -------------------- SMALL PHONES ------------- */
@media screen and (max-width: 479.5px) and (min-width: 319px){  
    .hire_section_background {
        background-attachment: scroll;  
    }
    .hire_content_container {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,.6);
        padding: 0 0;
    }
    .hire_headline {
        font-size: 2.2em;
        line-height: 1em;        
    }
    .hire_headline_2 {  
        font-size: 1em;   
        letter-spacing: .11rem;
        line-height: 1em;
        margin: .15em 0;
    }
    .hire_copy {       
        font-size: .9em;
        letter-spacing: .03em;  
        line-height: 1.5em;
        margin: .6rem 0 0;      
        max-width: 16rem;
    }
    .hire_logo {
        width: 10rem;
    }

}
