@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:ital,wght@1,900&display=swap');

.video_section {    
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    position: relative;
    
}
#back_video {
    z-index: 0;
    position: relative;  
    background-position: center; 
    min-width: 100vw;  
    min-height: 100vh;                                                                                                                                      
}
.video_section_layover {
    margin: 0 auto;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    width: 60vw;
    background-color: rgba(0,0,0,.4);
    padding: 4rem 2rem;
    z-index: 1;
    position: absolute;
}
.video_headline {
    font-family: 'Playfair Display', serif;
    font-size: 8em;
    color: rgb(255,255,255);
    letter-spacing: 1.5rem;
    line-height: 1em;
    margin: .25em 0 0;
    text-shadow: rgba(0,0,0,1) .04em .04em;
    text-align: center;
}
.video_headline_2 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    color: rgb(255,255,255);
    letter-spacing: .1rem;
    line-height: 1em;
    margin: .15em 0 0;
    text-shadow: rgba(0,0,0,1) .04em .04em;
    text-align: center;
}
.video_copy {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    letter-spacing: .05em;
    color: rgb(255,255,255);
    /* letter-spacing: .08rem; */
    line-height: 1.5em;
    margin: .6em 0 0;
    text-shadow: rgba(0,0,0,1) .05em .05em;
    max-width: 30rem;
    text-align: center;
}
.video_logo {
    width: 40rem;
    z-index: 30;
}





/* ------------------------MEDIA QUERIES--------------------------*/

/* -------------------- LARGE TABLET ------------- */
@media screen and (max-width: 1200px) and (min-width: 992px) {
    .video_section {    
        max-height: 31vh;
    }
    #back_video {
        
        width: 100vw;  
        height: 100vh;                                                                                                                                      
    }
    .video_section_layover {
        width: 70vw;
        height: 15vh;
        background-color: rgba(0,0,0,0);
    }
    .video_headline {
        font-size: 4em;
        line-height: 1.2em;  
        letter-spacing: .5rem; 
        text-align: center;     
    }
    .video_headline_2 {  
        font-size: 1.5em;   
        letter-spacing: .17rem;
        line-height: .8em;
        margin: .4em 0;
        text-align: center;
    }
    .video_copy {       
        font-size: .9em;
        letter-spacing: .03em;  
        line-height: 1.2em;
        margin: .4rem 0 0;      
        max-width: 16rem;
        text-align: center;
    }
    .video_logo {
        width: 10rem;
    }
}


/* -------------------- SMALL TABLET ------------- */
@media screen and (max-width: 991.5px) and (min-width: 768px){    
    .video_section {    
    
        max-height: 31vh;
    }
    #back_video {
        
        width: 100vw;  
        height: 100vh;                                                                                                                                      
    }
    .video_section_layover {
        width: 70vw;
        height: 15vh;
        background-color: rgba(0,0,0,0);
    }
    .video_headline {
        font-size: 4em;
        line-height: 1.2em;  
        letter-spacing: .5rem; 
        text-align: center;     
    }
    .video_headline_2 {  
        font-size: 1.5em;   
        letter-spacing: .17rem;
        line-height: .8em;
        margin: .4em 0;
        text-align: center;
    }
    .video_copy {       
        font-size: .9em;
        letter-spacing: .03em;  
        line-height: 1.2em;
        margin: .4rem 0 0;      
        max-width: 16rem;
        text-align: center;
    }
    .video_logo {
        width: 10rem;
    }

}


/* -------------------- LARGE PHONE------------- */
@media screen and (max-width: 767.5px) and (min-width: 480px){
    .video_section {    
    
        max-height: 31vh;
    }
    #back_video {
        
        width: 100vw;  
        height: 100vh;                                                                                                                                      
    }
    .video_section_layover {
        width: 91vw;
        height: 22vh;
        background-color: rgba(0,0,0,0);
    }
    .video_headline {
        font-size: 2.1em;
        line-height: 1.2em;  
        letter-spacing: .5rem; 
        text-align: center;     
    }
    .video_headline_2 {  
        font-size: 1em;   
        letter-spacing: .17rem;
        line-height: .8em;
        margin: .4em 0;
        text-align: center;
    }
    .video_copy {       
        font-size: .9em;
        letter-spacing: .03em;  
        line-height: 1.2em;
        margin: .4rem 0 0;      
        max-width: 16rem;
        text-align: center;
    }
    .video_logo {
        width: 10rem;
    }

}
   

/* -------------------- SMALL PHONES ------------- */
@media screen and (max-width: 479.5px) and (min-width: 319px){  
    .video_section {    
    
        max-height: 31vh;
    }
    #back_video {
   
        width: 100vw;  
        height: 100vh;                                                                                                                                      
    }
    .video_section_layover {
        width: 82vw;
        height: 12vh;
        background-color: rgba(0,0,0,0);
    }
    .video_headline {
        font-size: 2.1em;
        line-height: 1.2em;  
        letter-spacing: .5rem; 
        text-align: center;     
    }
    .video_headline_2 {  
        font-size: 1em;   
        letter-spacing: .17rem;
        line-height: .8em;
        margin: .4em 0;
        text-align: center;
    }
    .video_copy {       
        font-size: .9em;
        letter-spacing: .03em;  
        line-height: 1.2em;
        margin: .4rem 0 0;      
        max-width: 15rem;
        text-align: center;
    }
    .video_logo {
        width: 10rem;
    }

}
